.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea/
.DS_Store
app/src/main/gen/
/build
/RedStar_Consumer.iml
/RedStar_Consumer.iml
/app/app.iml
/app/build.gradle
/app/manifest-merger-release-report.txt
/app/RedStar_Consumer.apk
/app/app.iml
/app/build.gradle
/app/RedStar_Consumer.apk
/app/build.gradle
/app/RedStar_Consumer.apk
/PullToRefresh
/AndroidUser.iml
/Android.iml
/redstar.iml

/*.iml
/app/*.iml
/app/app.iml
